@model DressCode.Models.Popust
@{
    ViewData["Title"] = "Detalji popusta";
}

<h2>@ViewData["Title"]</h2>
<div class="card p-4 mt-3">
    <p><strong>Vrijednost popusta:</strong> @Model.VrijednostPopusta %</p>
    <p><strong>Kod za popust:</strong> @Model.KodPopust</p>
    <p><strong>Pristupni kod:</strong> @Model.PristupniKod</p>
    <p class="text-muted">Ukucajte ovaj kod na blagajni.</p>
</div>
