@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>
    DressCode je inovativna platforma za online pregled i kupovinu odjeće i ostalih odjevnih artikala kreirana tako da je kupac uvijek na prvom mjestu.
</p>
