@model DressCode.Models.ArtikalQrViewModel


<h2>QR-Kod Preview for "@Model.Artikal.Opis"</h2>

<p>@Model.Opis</p>

<img src="@Model.QrImageData"
alt="QR Kod za @Model.Artikal.Opis"
style="max-width:300px; height:auto;">

<p>
	<a asp-action="Index">Nazad na QR listu</a>
	</p>