@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "UPS! Zao nam je! Nemate pristup!!!!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Makni se odavde smrtniče.</p>
</header>
