@model DressCode.Models.Korpa

@{
    ViewData["Title"] = "Uredi";
}
<h4>Korpa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="KorisnikID" class="control-label"></label>
                <input asp-for="KorisnikID" class="form-control" />
                <span asp-validation-for="KorisnikID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UkupnaCijena" class="control-label"></label>
                <input asp-for="UkupnaCijena" class="form-control" />
                <span asp-validation-for="UkupnaCijena" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAktivna" /> @Html.DisplayNameFor(model => model.IsAktivna)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
